<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.vampa.mapper.AdminMapper">
  	<!-- 작가 등록 -->
  	<insert id="bookEnroll">
  		<selectKey resultType="int" keyProperty="bookId" order="AFTER">
  			SELECT vam_book_seq.CURRVAL
				FROM dual
  		</selectKey>
  		insert into vam_book(bookId,bookName, authorId, publeYear, publisher, cateCode, bookPrice, bookStock, bookDiscount, bookIntro, bookContents)
		values(vam_book_seq.nextval,#{bookName},#{authorId}, #{publeYear},#{publisher},#{cateCode},#{bookPrice},#{bookStock},#{bookDiscount},#{bookIntro},#{bookContents})
  	</insert>
  	
  	<!-- 이미지 등록 -->
  	<insert id="imageEnroll">
  		INSERT INTO 
  		vam_image
	  		(bookId,
				fileName,
				uploadPath,
				uuid)
			VALUES
	  		(#{bookId},
				#{fileName},
				#{uploadPath},
				#{uuid})
  	</insert>
  	
		<!-- 카테고리 리스트 -->
  	<select id="cateList" resultType="com.vampa.model.CateVO">
  		select * from vam_bcate order by catecode
  	</select>
  	
  	<!-- 상품 리스트 -->
	<select id="goodsGetList"
		resultType="com.vampa.model.BookVO">
 <![CDATA[
		SELECT * FROM
		(
			SELECT  /*+ INDEX_DESC(vam_book SYS_C0010457) */
			ROWNUM rn,bookId,bookName,
			(SELECT authorName FROM vam_author WHERE vam_book.authorId = vam_author.authorId) authorName,
			(SELECT cateName FROM vam_bcate WHERE vam_book.cateCode = vam_bcate.cateCode) cateName,
			bookStock,regDate
			FROM vam_book
			WHERE 
	]]>
	<if test="keyword!=null">
			bookName like '%'||#{keyword}||'%' AND
	</if>
	 <![CDATA[
			ROWNUM <= #{pageNum} * #{amount}
		)
		WHERE rn > (#{pageNum}-1) * #{amount}
	  ]]>
	</select>

  	<!-- 상품 총 개수 -->
  	<select id="goodsGetTotal" resultType="int">
  		select count(*) from vam_book
  		<if test="keyword != null">
  			where bookName like '%' || #{keyword} || '%'
  		</if>
  	</select> 
  	
  	<!-- 상품 조회 페이지 -->
  	<!-- 작가이름 나오게하기 위해, 서브쿼리 이용(작가ID가 아니야) -->
  	<select id="goodsGetDetail" resultType="com.vampa.model.BookVO">
  		SELECT bookId,bookName,
  		(
	  		SELECT authorName FROM vam_author 
	  		WHERE vam_author.authorId = vam_book.authorId
  		) authorName,
  		authorId, publeYear, publisher, cateCode, bookPrice, bookStock, bookDiscount, bookIntro, bookContents, regDate, updateDate
  		FROM vam_book
  		WHERE bookId=#{bookId}
  	</select>
  	
  	<!-- 상품 정보 수정 -->
  	<update id="goodsModify">
  		UPDATE vam_book SET bookName = #{bookName}, authorId = #{authorId}, publeYear = #{publeYear}, publisher = #{publisher}, cateCode = ${cateCode}, 
			bookPrice = #{bookPrice}, bookStock = #{bookStock}, bookDiscount = #{bookDiscount}, bookIntro = #{bookIntro}, bookContents = #{bookContents}, updateDate = sysdate
			where bookId = ${bookId}
  	</update>
  	
	  <!-- 상품 정보 삭제 -->
		<delete id="goodsDelete">
			delete from vam_book where bookId = #{bookId}
		</delete>
		
		<!-- 지정 상품 이미지 전체 삭제 -->
		<delete id="deleteImageAll">
			DELETE FROM vam_image
			WHERE bookId=#{bookId}
		</delete>
		
		<!-- 어제자 날짜 이미지 리스트(배치) -->
		<select id="checkFileList" resultType="com.vampa.model.AttachImageVO">
			SELECT *
			FROM vam_image
			WHERE uploadPath=TO_CHAR(sysdate-1,'yyyy\mm\dd')
		</select>
		
		<!-- 지정 상품 이미지 정보 얻기(서버 이미지 파일 삭제) -->
		<select id="getAttachInfo" resultType="com.vampa.model.AttachImageVO">
			SELECT * 
			FROM vam_image
			WHERE bookId=#{bookId}
		</select>
		
		<!-- 주문 리스트 -->
		<select id="getOrderList" resultType="com.vampa.model.OrderDTO">
			<![CDATA[
				select * 
				from(
				    select rownum rn, orderId, memberId, orderstate, orderdate
				    from vam_order
				    where rownum <= #{pageNum} * #{amount} 
				]]>    
				<if test="keyword != null">
					and memberId like '%'||#{keyword}||'%'
				</if>
				<![CDATA[   
				    order by orderdate desc
				    )
				where rn > (#{pageNum} -1) * #{amount}
				]]>
		</select>
		
		<!-- 상품 총 개수 -->
	<select id="getOrderTotal" resultType="int">
		select count(*) from vam_order
    <if test="keyword != null">
    	where memberId like '%'||#{keyword}||'%'
    </if>
	</select>
  </mapper>