<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.vampa.mapper.ReplyMapper">
  	<!-- 댓글 등록 -->
  	<insert id="enrollReply">
  		INSERT INTO vam_reply(replyId,bookId,memberId,content,rating)
  		VALUES(reply_seq.nextval,#{bookId},#{memberId},#{content},#{rating})
  	</insert>
  	
  	<select id="checkReply" resultType="integer">
  		SELECT replyId
  		FROM vam_reply
  		WHERE memberId= #{memberId} AND bookId = #{bookId}
  	</select>
  	
  	<!-- 댓글 페이징 -->
  	<select id="getReplyList" resultType="com.vampa.model.ReplyDTO">
			<![CDATA[
				SELECT * FROM
					(
						SELECT ROWNUM as rn, replyId, bookId, memberId, content, rating, regDate
						FROM vam_reply
						WHERE 
							ROWNUM <= #{pageNum} * #{amount}
							AND bookId = #{bookId}
						ORDER BY regDate DESC 
					)
				WHERE rn > (#{pageNum}-1) * #{amount}
			]]>
  	</select>
  	
  	<select id="getReplyTotal" resultType="int">
  		SELECT COUNT(*)
  		FROM vam_reply
  		WHERE bookId = #{bookId}
  	</select>
  	
  	<update id="updateReply">
  		UPDATE vam_reply SET content=#{content},rating=#{rating}
  		WHERE replyId = #{replyId}
  	</update>
  	
  	<select id="getUpdateReply" resultType="com.vampa.model.ReplyDTO">
  		select * from vam_reply
			where replyId = #{replyId}
  	</select>
  	
  	<!-- 댓글 삭제 -->
  	<delete id="deleteReply">
  		DELETE FROM vam_reply
  		WHERE replyId = #{replyId}
  	</delete>
  </mapper>